/*-----------------------------------*\
  #CUSTOM STYLES
\*-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

/*-----------------------------------*\
  #RESET STYLES
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: DM Sans, sans-serif;
    font-size: clamp(1rem, 0.5rem + 1.5vw, 2rem)
}


/*-----------------------------------*\
  #BENTO LAYOUT
\*-----------------------------------*/



