/*-----------------------------------*\
  #CUSTOM STYLES
\*-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}

/*-----------------------------------*\
  #RESET STYLES
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: DM Sans, sans-serif;
  font-size: clamp(1rem, 0.5rem + 1.5vw, 2rem)
}

img { 
  width: 30%; 
  cursor: pointer;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

/*-----------------------------------*\
  #BENTO LAYOUT
\*-----------------------------------*/
.bento-layout {
  display: grid;
  gap: 1.5em;
  max-width: 19rem; 
  margin: 2em auto; 
} 

section {
  border-radius: 10px;
  padding: 2em;
}

/*-----------------------------------*\
  #SECTION RATINGS SECTION
\*-----------------------------------*/
.social-ratings {
  background-color: var(--Purple-500);
  text-align: center;
  color: var(--White);
}

.social-ratings > h1 {
  font-size: 2.2em;
  font-weight: 500;
}

.yellow-text { 
  color: var(--Yellow-500);
  margin-right: 5px;
  font-weight: 600;
}

.ratings-img {
  margin: 1.3em auto 0.5em;
  width: 55%;
}

.social-ratings > p {
  font-weight: 200;
  font-size: 0.89em;
  letter-spacing: 0.8px;
}

/*-----------------------------------*\
  #MY ACCOUNTS SECTION
\*-----------------------------------*/
.my-accounts {
  background-image: url(/assets/images/illustration-multiple-platforms.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 1rem;
  background-color: var(--White);
  padding: 1.5em 0.8em;
  gap: 0.5em;
  box-shadow: -4px 0px 10px -2px var(--Purple-100);
}

.my-accounts > h2 { 
  font-weight: 400;
  padding-top: 5rem;
}

/*-----------------------------------*\
  #SCHEDULE SECTION
\*-----------------------------------*/
.schedule {
  background-image: url(/assets/images/illustration-consistent-schedule.webp);
  background-size: 70%;
  background-position-x: 1rem;
  background-position-y: 8rem;
  height: 40vh;
  background-repeat: no-repeat;
  background-color: var(--Yellow-500);
  padding: 1em 1em 0;
}

.schedule > h2 {
  font-size: 1.6em;
  margin: 1em 0;
}

.schedule-img { 
  width: 80%;
  margin-bottom: -5px;
}

/*-----------------------------------*\
  #SOCIAL ANALYTICS SECTION
\*-----------------------------------*/
.social-analytics {
  background-image: url(/assets/images/illustration-schedule-posts.webp);
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: var(--Purple-100);
  text-align: center;
  background-position-x: center;
  background-position-y: 6.5rem;
  height: 70vh;
}

.social-analytics > h2 {
  font-size: 1.36em;
  font-weight: 400;
}

.social-analytics > p {
  font-size: 1em;
  font-weight: 400;
  padding-top: 16rem;
}

/*-----------------------------------*\
  #FOLLOWER GROWTH SECTION
\*-----------------------------------*/
.follower-growth {
  background-color: var(--Purple-500);
  display: grid;
  gap: 1em;
  padding: 2.5em;
  color: var(--White);
}

.follower-growth-img {
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: 1em;
}

.follower-growth > h2 {
  font-weight: 400;
  font-size: 1.8em;
  line-height: 0.9em;
  padding: 5px;
}

/*-----------------------------------*\
  #AUDIENCE GROWTH SECTION
\*-----------------------------------*/
.audience-growth {
  background-color: var(--White);
  box-shadow: 2px 5px 5px 3px var(--Purple-100);
}


.audience-growth > h2 {
  margin-bottom: 1em;
  font-weight: 300;
}

.big-text {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.audience-img { width: 60%; }

/*-----------------------------------*\
  #CREATE A POST SECTION
\*-----------------------------------*/
.create-post {
  background-color: var(--Yellow-100);
  display: grid;
  gap: 0.8em;
}

.create-post > h2 {
  font-weight: 400;
  font-size: 1.7em;
}

.purple-text {
  color: var(--Purple-500);
  font-weight: 600;
}

.create-post-img {
  width: 55%;
  margin-left: -7px;
}

/*-----------------------------------*\
  #CONTENT USING AI
\*-----------------------------------*/
.content-using-ai {
  background-color: var(--Yellow-500);
}

.content-using-ai > h2 {
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 1.8em;
}

.ai-generated-img { width: 100%; }


.attribution {
  font-size: 10px;
  text-align: center;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media screen and (min-width: 1000px) {
  body { height: 100%; }

  main { height: 90vh; } 

  section {
    padding: 1.5em;
  }

  .bento-layout {
    display: grid;
    gap: 1rem;
    max-width: 40rem;
    margin: 1em auto;
    grid-template-columns: repeat(8, minmax(0px, 1fr));
    grid-template-rows: repeat(9, minmax(0px, 1fr));
    grid-template-areas:
      "create create headline headline headline headline optimize optimize"
      "create create headline headline headline headline optimize optimize"
      "create create accounts accounts schedule schedule optimize optimize"
      "write write accounts accounts schedule schedule optimize optimize"
      "write write accounts accounts schedule schedule optimize optimize"
      "write write audience audience followers followers followers followers"
      "write write audience audience followers followers followers followers"
      "write write audience audience followers followers followers followers";
  }

  .social-ratings {
    grid-area: headline;
    padding: 0.8rem 2rem;
    grid-row: 1 / 4;
  }

  .social-ratings > h1 { font-size: 1.5rem; }

  .ratings-img { 
    width: 40%;
    margin: 0.4rem auto 0;
  }

  .social-ratings > p { 
    font-size: 0.6rem;
    padding-bottom: -5px;
  }

  .my-accounts {
    grid-area: accounts;
    background-size: 160%;
    grid-row: 4 / 7;
    background-position: 0 0.5rem;
  }

  .my-accounts > h2 {
    padding-top: 2.5rem;
    font-size: 0.9rem;
  }

  .schedule {
    grid-area: schedule;
    height: auto;
    grid-row: 4 / 7;
    background-position-y: 150%;
    padding: 1rem 1rem 0;
  }

  .schedule > h2 {
    font-size: 0.83rem;
    margin: 0;
  }

  .social-analytics {
    grid-area: optimize;
    grid-row: 1 / 7;
    background-position-x: 1rem;
    background-size: 95%;
    background-position-y: 50%;
    height: auto;
    padding: 1rem 1rem 1rem;
  }

  .social-analytics > h2 { font-size: 1.2rem; }

  .social-analytics > p {
    padding-top: 9rem;
    font-size: 0.6rem;
  }

  .follower-growth {
    grid-area: followers;
    grid-row: 7 / 10;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    place-content: center;
    align-items: center;
  }

  .follower-growth-img { 
    left: 0; 
    width: 95%;
  }

  .follower-growth > h2 { font-size: 1.3rem; }

  .audience-growth {
    grid-area: audience;
    grid-row: 7 / 10;
    padding: 0.7rem 1.5rem;
  }

  .audience-growth > h2 { font-size: 0.7rem; }

  .audience-img {
    width: 90%;
  }

  .create-post {
    grid-area: create;
    grid-row: 1 / 5;
  }

  .create-post > h2 {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .create-post-img { width: 70%; }

  .content-using-ai {
    grid-area: write;
    grid-row: 5 / 10;
    padding: 1rem 1.3rem;
  }

  .content-using-ai > h2 { 
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }

  /* .ai-generated-img {
    width: 130%;
    position: relative;
    right: 25px;
  } */

}
